<div class="row">
	<section id="app-menu" class="col-md-4">
		<aside class="well sidebar-nav">
			<menu id="command-menu" class="nav">
				<form>
					<fieldset>
						<select id="state" ng-model="state">
							<option ng-repeat="state in states" value="{{state.state_code}}">{{state.state_name}}</option>
						</select>
						<select id="county" ng-model="county" astte-county state="{{state}}">

						</select>
						<select id="city" ng-model="city" astte-city state="{{state}}" county="{{county}}">
							<option ng-repeat="(city,disable) in cities" value="{{city}}" ng-disabled="{{disable}}">{{city}}</option>
						</select>
						<div class="control-group" id="method-control-group">
							<span class="control-group-label">Waste Management Modes</span>
							<label for="recycling">Recycling</label>
							<input type="checkbox" ng-model="recycling" id="recycling" />
							<label for="compost">Composting</label>
							<input type="checkbox" ng-model="composting" id="composting" />
							<label for="sustainableWaste">Sustainable Local Waste Mgmt</label>
							<input type="checkbox" ng-model="sustainableWaste" id="sustainableWaste" />
						</div>	
					</fieldset>
				</form>
			</menu>
			<nav>
				<ul class="nav nav-list">
					<li>
						<a>About</a>
					</li>
					<li>
						<a>Donate</a>
					</li>	
				</ul>
			</nav>
		</aside>
	</section>

	<section id="app" class="col-md-5">
		<main>
			<input type="text" name="search" id="search" ng-model="materials" placeholder="Search for materials..." />
			<div id="no-results" ng-show="!materials.length && searched" class="alert alert-warning">No Results! Consider <a href ng-click="openAddMaterialDialogue()">adding this material</a>!</div>
			<aside id='service-summary'>
				<h2>Services offered in your area...</h2>

				<ul>
					<li ng-repeat="service in services">
						<strong id="service-{{service.id}}">{{service.name}}</strong> - <span>{{service.summary}}</span>
					</li>
				</ul>
			</aside>
			<details id="saved-list">
				<summary>
					Your saved materials...	
				</summary>
				<ol>
					<li ng-repeat="(id,name) in user-materials">
					<a id="material-{{id}}" href ng-click="openUserMaterialDialogue(); selected-user-material={{id}}">{{name}}</a>
					</li>
				</ol>
			</details>
		</main>
	</section>
</div>
